<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)} + ' (' + ${jobs.size()} + ')' "></h1>

    <!-- DONE #1 - Use a loop to display job results in a table. -->
    <table class="job-listing">
        <tr class="table-header">
            <th>Name</th>
            <th>Employer</th>
            <th>Location</th>
            <th>Position Type</th>
            <th>Skill</th>
        </tr>
        <th:block th:each="job : ${jobs}">
            <tr>
                <td th:text="${job.getName()}"></td>
                <td th:text="${job.getEmployer()}"></td>
                <td th:text="${job.getLocation()}"></td>
                <td th:text="${job.getPositionType()}"></td>
                <td th:text="${job.getCoreCompetency()}"></td>
            </tr>
        </th:block>
    </table>

</div>

</body>
</html>